	<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li>
									<a href="/products">Products</a>
									<ul>
										<li>
											<a href="/products/add">Add Products</a>
										</li>
									</ul>
									</li>
								{{!-- <li><a href="/users/register">Contact</a></li> --}}
								<li>
									<a href="#">Member</a>
									<ul>
									  {{#if user}}
										<li class="nav-item">
											<a href="/users/logout" class="nav-link">Logout</a>
										</li>
										{{else}}
										<li class="nav-item">
											<a href="/users/login" class="nav-link">Login</a>
										</li>
										<li class="nav-item">
											<a href="/users/register" class="nav-link">Register</a>
										</li>
										{{/if}}
									</ul>
								</li>

								{{#if user}}
								<li class="nav-item" style="color:white;"><p>Welcome {{user.name}}</p></li>
								{{/if}}
								
								{{#if user}}
									<li class="nav-item">
											<a href="/products/shopping-cart/" class="nav-link"> 
											<i class="fa fa-shopping-cart">
											<span class="badge" >{{session.cart.totalQty}}</span> 
											</i>
											</a>
										</li>
										{{/if}}
							</ul>
						</nav>