<!-- Header -->
<!-- Logo -->
<div id="backgroundWorld">
	<h1 id="mainInfo" class="text"><a href="index.html"></a></h1>
	<section id="header">
		<div class="menu">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>


		<!-- Nav -->

		<!-- Banner -->
		<section id="banner">
			<header>
				<h2>Crumb and Bumbles</h2>
			</header>
		</section>

		<!-- Intro -->
		<section id="intro" class="container">
</div>
</section>

</section>

<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Portfolio -->
				<section>
					<header class="major">
						<h1>Our Products</h1>
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img width="20px" src="/assets/images/snapshot1.jpg" alt="" /></a>
								<header>
									<h3>Custom Ceramics</h3>
								</header>
								<p>Import your own design</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="/assets/images/snapshot3.jpg" alt="" /></a>
								<header>
									<h3>Handmade Jewelry</h3>
								</header>
								<p>Import your own design</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box" id='crowBarBox'>
								<a href="#" class="image featured"><img id='crowBar' src="/assets/images/snapshot10.jpg" alt="" /></a>
								<header>
									<h3>Kitchen Tools</h3>
								</header>
								<p>Import your own design</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="/assets/images/snapshot15.jpg" alt="" /></a>
								<header>
									<h3>Porcelain Cups</h3>
								</header>
								<p>Import your own design</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="/assets/images/snapshot12.jpg" alt="" /></a>
								<header>
									<h3>Wooden/Clay Cups</h3>
								</header>
								<p>Import your own design</p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="/assets/images/snapshot7.jpg" alt="" /></a>
								<header>
									<h3>HandWoven Baskets</h3>
								</header>
								<p>Import your own design</p>
							</section>
						</div>
					</div>
				</section>

			</div>
			<div class="col-12">

				<!-- Blog -->
				<section>
					<header class="major">
						<h2>The Blog</h2>
					</header>
					<div class="row">
						<div class="col-6 col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="/assets/images/snapshot8.jpg" alt="" /></a>
								<header>
									<h3>Premade Cups</h3>
									<p>Posted 45 minutes ago</p>
								</header>
								<footer>
								</footer>
							</section>
						</div>
						<div class="col-6 col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="/assets/images/snapshot9.jpg" alt="" /></a>
								<header>
									<h3>Premade Crafts/Arts</h3>
									<p>Posted 45 minutes ago</p>
								</header>
								<footer>
								</footer>
							</section>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
</section>

<!-- Footer -->

</div>